body {
    background-image: url("../img/background.png");
    padding-top: 70px;
}

a, button {
    outline: none !important;
}
.navbar-brand {
    line-height:12px;
    padding-top:20px;
    padding-bottom:5px;
}
.navbar-brand small {
    display:block;
    margin-top: 5px;
    font-size:10px;
}