body {
    background-image: url("../img/background.png");
    padding: 80px 0 40px 0;
}

a, button {
    outline: none !important;
}

.marginBottom20 {
    margin-bottom: 20px;
}
.navbar-brand {
    line-height:12px;
    padding-top:20px;
    padding-bottom:5px;
}
.navbar-brand small {
    display:block;
    margin-top: 5px;
    font-size:10px;
}